
h1{
    font-size: 70%;
    font-weight: 500;
}
h4{
    font-size: 110%;
    font-weight: bold;
}
.title{
    color: black;
    font-size: 100px;
}
.subtitle{
    font-size: 30px;
}
.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:100%;   
}
.f40{
    font-size: 40px;
}
#categories {
    margin-left: 100px;
}

@media (max-width:480px) {

}

@media (max-width:992px) {
    .center{
        text-align: center;
    }
    .title{
        font-size: 50px;
    }
    .subtitle{
        font-size:22px;
    }
    #categories{
        margin-left: 0;
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: white;
        
    }
    
}
    
@media (min-width:992px){
    .top-margin{
        padding-bottom: 5%;
    }
    
    .responsive-category{
        margin-top: -5vh;
    }
}
