
.hide{
    visibility: hidden;
}
.disappear{
    display: none;
}
.fs12{
    font-size: 12px;
}
.gray{
    color: #636363;
}
.overflow{
    overflow-x: auto;
}


html, body{
    color: black;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

pre {
    display: inline;
    margin: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table, th, td{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}



/*Top bar*/
#input-form{
    position: absolute;
    font-size: 2em;
    bottom: 0;
    font-family: 'Courier Prime', monospace;
}
#top-container{
    white-space: nowrap;
    height: 70px;
}
#match{
    font-size: 3em;
    text-align: center;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-button{
    margin-left: 5px;
}
#next-article{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
}
#hint-box{
    margin-top: 10px;
    width: 1.8em;
    height: 1.8em;
    font-size: 1.8em;
    background: whitesmoke
}
#next-button{
    font-size: 3em;
    display: none;
}
#guess-line{
    border-top: 1px solid black;
    margin: 0 0 0 -30px;
    position: relative;
}
.guess-input{
    background-color: whitesmoke;
    border: 0;
}
input:focus{
    border: 0px;
    outline: none;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.container{
    max-width: 100%;
}
.borderless{
    border: 0;
    background-color: whitesmoke;
    outline: 0;
}


/*toc*/
.toc-line{
    border: 0px;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0));
    width: 80%;
    align-content: center;
}
.section-button{
    padding: 12px 24px;
    font-size: 18px;
    margin: 10px 2px 10px 10px;

}
.clicked{
    background: #636363;
    border: 0;
}


/*loading*/
#loading{
    font-size: 150%;
}
#dots{
    letter-spacing: 0.2em;
}


/*section content*/
.section-title{
    margin-top: 8vh;
}
.section-line{
    margin-bottom: 3vh;
    border: 1px solid lightgray;
}
.subsection{
    font-weight: bold;
    font-size: 22px;
    margin-top: 3.5vh;
}
h4{
    font-weight: bold;
    font-size: 100%;
    margin-top: 1.5vh;
}


/*hint box*/
[count="3"] {
    border: green 4px solid;
}
[count="2"] {
    border: gold 4px solid;
}
[count="1"] {
    border: orange 4px solid;
}
[count="0"] {
    border: red 4px solid;
}




@media (max-width:400px){
    /*adjusts top bar*/
    #match{
        display: none;
        padding: 0
    }

    #next-article{
       display: none;
       padding: 0
    }

    #top-container{
        padding: 0
    }
}

